main {
    margin: 20px;
    text-align: center;
  }

.profile {
    display: inline-block;
  }

.profile img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
  }

.profile h2 {
    margin-top: 10px;
  }

.profile p {
    margin-top: 5px;
  }