<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="bg-action rounded" style="height: 500px;">
            <div class="row h-100 align-items-center justify-content-center">
                <div class="col-lg-7 text-center">
                    <h1 class="text-white mb-4">Let's get started. Call us now for a Free Consultation</h1>
                    <a  id= "call-me" class="btn btn-primary py-3 px-5 mt-2" href="#">Call Us Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    let btn=document.getElementById('call-me');
    btn.addEventListener("click", () => {
        window.location.href = "tel:03035650798";
    });
</script>