<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="text-center pb-5">
            <h6 class="text-uppercase">Testimonial</h6>
            <h1 class="mb-5">What Our Clients Say</h1>
        </div>
        <div class="owl-carousel testimonial-carousel">
            <div class="testimonial-item">
                <div class="testimonial-text position-relative bg-secondary text-light rounded p-5 mb-4">
                    Sed ea amet kasd elitr stet nonumy, stet rebum et ipsum est duo elitr clita lorem
                </div>
                <div class="d-flex align-items-center pt-3">
                    <img class="img-fluid rounded-circle" src="img/testimonial-1.jpg" style="width: 80px; height: 80px;" alt="">
                    <div class="pl-4">
                        <h5>Client Name</h5>
                        <p class="m-0">Profession</p>
                    </div>
                </div>
            </div>
            <div class="testimonial-item">
                <div class="testimonial-text position-relative bg-secondary text-light rounded p-5 mb-4">
                    Sed ea amet kasd elitr stet nonumy, stet rebum et ipsum est duo elitr clita lorem
                </div>
                <div class="d-flex align-items-center pt-3">
                    <img class="img-fluid rounded-circle" src="img/testimonial-2.jpg" style="width: 80px; height: 80px;" alt="">
                    <div class="pl-4">
                        <h5>Client Name</h5>
                        <p class="m-0">Profession</p>
                    </div>
                </div>
            </div>
            <div class="testimonial-item">
                <div class="testimonial-text position-relative bg-secondary text-light rounded p-5 mb-4">
                    Sed ea amet kasd elitr stet nonumy, stet rebum et ipsum est duo elitr clita lorem
                </div>
                <div class="d-flex align-items-center pt-3">
                    <img class="img-fluid rounded-circle" src="img/testimonial-3.jpg" style="width: 80px; height: 80px;" alt="">
                    <div class="pl-4">
                        <h5>Client Name</h5>
                        <p class="m-0">Profession</p>
                    </div>
                </div>
            </div>
            <div class="testimonial-item">
                <div class="testimonial-text position-relative bg-secondary text-light rounded p-5 mb-4">
                    Sed ea amet kasd elitr stet nonumy, stet rebum et ipsum est duo elitr clita lorem
                </div>
                <div class="d-flex align-items-center pt-3">
                    <img class="img-fluid rounded-circle" src="img/testimonial-4.jpg" style="width: 80px; height: 80px;" alt="">
                    <div class="pl-4">
                        <h5>Client Name</h5>
                        <p class="m-0">Profession</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>