<header style="background-image: url('{{ $.Site.Params.backgroundImagePath }}');" {{ if .Params.large_header }}class="main-hero"{{ end }}>
	<!-- Contact Form -->
	<script src="https://kwesforms.com/v2/kwes-script.js" defer></script>
	<!-- Enablign Comments -->
	<script id="dsq-count-scr" src="//https-shafiqlawchamber-com.disqus.com/count.js" async></script>
	<!-- Umami Analystic -->
	<script async defer src="https://analytics.umami.is/script.js" data-website-id="c75d1132-dfac-451b-b32d-0930c96056cd"></script>
	<!-- Adding Main Css  -->
	<link rel="stylesheet" href="/css/main-style.css">
	<div class="container">
		<h1><a href="/">{{ $.Site.Data.company.title }}</a></h1>
		<nav>
			{{ if .Site.Menus.main }}
				<ul>
					{{ $currentPage := . }}
					{{ range .Site.Menus.main }}
						<li>
							<a href="{{ .URL }}" title="{{ .Name }} page" class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">{{ .Name }}</a>
						</li>
					{{ end }}
				</ul>
			{{ end }}
		</nav>
	</div>
</header>
